

/* .qrcode button.generate{
    color: white;
    margin-left: 12px;
}

input.urlbox{
    width: 20%;
    border-radius: 2%;
    border: 2px solid  #1bb506;
}

.qrcode a {
    margin-left: 12px;
} */

